<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">PRODUCTS</div>
  <div class="panel-body">
  </div>

  <!-- Table -->
  <table class="table">
    <thead>
      <th>Realtors</th>
      <th>TEAMS</th>
      <th>Brokers</th>
      <th>Association</th>
    </thead>
    <tbody>
      <tr>
        <td>Century 21 Realtor</td>
        <td>A&S Consultants</td>
        <td>JP Morgan</td>
        <td>OREA</td>
      </tr>
      <tr>
        <td>Forest Hill Real Estate</td>
        <td>Handyman Team</td>
        <td>Certified Mortgage Finance Broker</td>
        <td>Bangalore Realtor Association</td>
      </tr>
    <tr>
        <td>Mantri Builders</td>
        <td>CREDAI Team</td>
        <td>HDFC</td>
        <td>All India Builder Association</td>
      </tr>

    </tbody>
  </table>
</div>